<section class="card">
  <div class="card-body">
    <h1>Acerca de</h1>
    <p>
     El bingo (del inglés bingo) es un juego de azar que consiste en un bombo con un número determinado de bolas numeradas en su interior. Los jugadores juegan con cartones con números aleatorios escritos en ellos, dentro del rango correspondiente. Un locutor va sacando bolas del bombo, anunciando los números en voz alta.
    </p>
  </div>
</section>
