<div class="card card-body p-5 mt-4">
  <h1 class="display-4">El Gran Buda - Casa de Apuestas</h1>
  <p class="lead">¡Bienvenido al Bingo Virtual!</p>
  <hr class="my-4" />
  <p>Juego Creado Por Bryan Polo <br>

  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Registrate Ahora!!</a>
  </div>
</div>